
body{
    overflow-x: hidden;
    
}  
.nav-text {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace,
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.input{
    width: 300px !important;
    

}
body{
    background:rgba(22, 31, 30, 0.9)
  
    
}



@media (max-width: 576px) { 
   .nav-text{
       font-size: 35px;
   }
   body{
    height: 93vh;
   }
 }