.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  color: red;

}
.App{
  
  /* background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)), url(./components//img/bg-recipe.jpg) no-repeat center /cover; */
}

